#font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}



#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 32px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #D55672!important;
}

.navbar {
    background: #ccfe06;
}

.navbar-toggler {
    border: none!important;
}

.nav-link{
    color: black!important;
    font-weight: 600;
    font-size: 16px;
}

.container-lokal {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(asset/background.png);
    background-size: cover;
    background-position: center;
    padding: 10px 5%;
}

.content{
    margin-top: 10%;
    color: white;
    max-width: 750px;
    
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 20px;
    margin-top: 5%;
}

.content .btn {
    font-size: 50 px;
    padding: 10px 30px;
    background-color: #ccfe06;
    margin-bottom: 30%;
}

#classes {
    background-color: black;
    background-image: none;
}

#classes h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-top: 5%;
    color: white;
}

.wrapper {
    padding: 10px 10%;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box {
    position: relative;
    overflow: hidden;
    color: white;

}

.box img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 58%);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}

.boxLhover img{
    transform: scale(1.2);
}
.box:hover .overlay{
    height: 100%;
}

#testimonials {
    background-color: black;
    background-image: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

#testimonials h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-top: 5%;
    color: white;
}

#testimonials .row{
    margin-top: 5px
}

.col-md-4{
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: black;
}

.user {
    width: 200px;
    height: 200px;
}

.profile img {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200;
    height: auto;
    border: 5px solid #ccfe06;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #ccfe06;
}

.profile h4 {
    font-size: 15px;
    margin-top: 15px;
    color: white;
}

.profile p {
    font-size: 16px;
    color: white;
}

#myClass {
    background-color: white;
    background-image: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

#myClass h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-top: 5%;
    color: black;
}

.uform {
    margin-right: 5%;
    margin-left: 5%;
}

.tambah {
    border: solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#listKelas {
    background-color: black;
    background-image: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

#listKelas h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-top: 5%;
    color: #ccfe06;
}

#listKelas h2 {
    color: white;
    font-size: 20px;
}


.kotak2 {
    border: solid white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#listKelas h2 {
    color: black;
    background-color: #ccfe06;
    padding: 10px;
    margin-bottom: 10%;
    margin-top: 25%;
    width: 300px;
    border-radius: 5px;
}

.orders {
    padding: 10px 10px 10px;
    background-color: white;
    border: solid 3px #ccfe06;
    border-radius: 5%;
    min-width: 200px;
    height: auto;
}

